body {
    height: 2500px;
    width: 1440px;

}

header {
    display: flex;
    justify-content: flex-end;
    align-items:center;
    background: aqua;
    height: 60px;
    outline: 2px solid black;
}

main {
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content:flex-start;
    background: aliceblue;
    outline: 2px solid black;
    justify-content: space-around;
}

.btn-cart:hover {
    color: #fff;
    background: #afafaf;
    cursor: pointer;
}

.btn-cart:active {
    color: #ffffff;
    background: #afafaf;
    outline: none;
}

.products {
    display: contents;
    align-self: auto;
    background: burlywood;
    height: 300px;
    width: 340px;
    text-align: center;
}

.product-item.goods-item {
    flex: none;
    display: flex;
    flex-direction: column;
    background: burlywood;
    width: 340px;
    align-self: auto;
    text-align: center;
}

.buy-btn {
    margin: 9px;
    width: 64px;
    text-align: center;
}

.image {
    height: 300px;
    width: 340px;
}